.fadeInRight{
    animation: fadeInRight 3s ease;
}
.fadeInLeft{
    animation: fadeInLeft 3s ease;
}
.fadeInUp{
    animation: fadeInUp 2s ease;
}
.fadeInDown{
    animation: fadeInDown 2s ease;
}
.slideBoxAnim{
    animation: slideBox 3s ease;
  }
@keyframes slideBox{
    0%{
        opacity: 0;
        width: 50%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}
@keyframes fadeInRight{
    0%{
        opacity: 0;
        transform: translateX(-40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(40px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-40px);
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes fadeInLeft{
    0%{
        opacity: 0;
        transform: translateX(40px);
       
    }
    100%{
        opacity: 1;
        transform: translateX(0px);
    }
}