@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito&display=swap');
body{
    background-color: #2c2c30;
    color: white;    
}
.lead{
    margin-top: 12px;
    opacity: 70%;
}
.blog-header{
    margin-top: 60px;
    padding: 50px;
    padding-bottom: 10px;
}
.blog-title{
    font-family: 'DM Serif Display', serif;
    letter-spacing: 1.8px;
    font-size: 56px;
}
.jumbotron{
    background-color: transparent;
}
img{
    width: 100%;
    height: 75%;
    margin-bottom: 20px;
    transform: scale(0.9);
}
#img-block{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 120px;
    padding-bottom: 80px !important;
    height: 60vh;
}
.blog-content{
    line-height: 1.7;
    font-size: 18px;
}