html{
  scroll-behavior:inherit;
}
body{
  font-family: 'Poppins', sans-serif;
}
.pagehead{
  background-image: url("../img/index-bg.jpg");
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Benne', serif;
}
.desc{
  font-size: 14px
}
.title{
  text-decoration: none;
  color: #161515;
}
.title:hover{
  color: #474242;
}
.subHeader{
  font-size: 20px;
  font-family: 'Benne', serif;
}
.divider{
  max-width: 5.25rem;
  border-width: 0.2rem;
  border-color: #f4623a;
}
#about{
  background-color: #ef4f4f;
}
#foryou{
  background-color: #ef4f4f;
}
#trending{
  min-height: 80vh;
  padding-top: 120px;
  background-color: #FAE1B0;
}
#blog{
  background-color: #f0e3ca;
}
#contact{
  background-color: #343a40;
  color: white;
}
.blog-number{
  padding-left: 0px;
  padding-right: 0px;
}
.btn{
  border-radius: 18px;
}
#btn_about{
  background-color: #f66f65;
  color: white;
  padding: 10px 24px;
  font-family: 'Poppins', sans-serif;
}
#btn_about:hover{
  background-color: #F85B4F;
}
#btn_getStart{
  background-color: #FCFBFB;
  color: black;
  padding: 10px 30px;
  font-family: 'Poppins', sans-serif;
}
#btn_getStart:hover{
  background-color: #DED4D4;
}
#search_icon{
  border-radius: 5px;
  height: auto;
}
.icontact:hover{
  cursor: pointer;
  color: #f66f65;
}
.icontact{
  color: #CDC5C5;
}
.iheader:hover{
  color: #f66f65;
}
