body{
    background: #daa864;
    color: #30302c;
    font-family: sans-serif;
}
.content{
    width: 100%;
    padding:8px;
    min-height: 100vh;
    transition: all 0.3s;
}
.container{
    width: 80%;
    padding-top: 50px;
    padding-left: 40px;
    padding-bottom: 20px;
    border-radius: 4px;
    box-shadow: 7px -8px 11px -5px rgba(0,0,0,0.35);
}
#box{
    background-color: #e4dac6;
    padding: 2px;
}
hr{
    border-top: 1px solid #30302c;
}
#formBox{
    min-height: 90vh;
    margin: 0;
    width: 100%;
    margin-right: 0;
    box-shadow: none;
}
#pictBox{
    margin: 0;
    background-image: url(../img/goldkitten.jpg);
    box-shadow: none;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    width: 100%;
    height: 100%;
}
input{
    margin-bottom: 10px;
}
@media only screen and (max-width: 270px){
    .btn{
        width: 55%;
    }
}
#startbtn{
    background-color: transparent;
    border-color: #f54748;   
    font-size: 18px;
    min-height: auto;
    padding: 7px 45px;
    border-style: solid;
    border-radius: 18px;
    margin-top: 10px ;
    color: #343f56;
}
#startbtn:hover{
    background-color: #f54748;
    color: #ffffff;
} 
a{
    color: #080807;
    font-size: small;
    
}
a:hover{
    color: #4C4C45;
    text-decoration: none;
}
.form-control{
    margin-top: 12px;
    background: transparent;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #45413a;
    color: black;
    padding: 20px;
    outline: none;
    transition: .3s;
}
.form-control:hover{
    background: transparent;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #ff8310;
    padding: 20px;
    outline: none;

}
.form-control:focus{
    background: transparent;
    border: none;
    border-radius: 8px;
    border-bottom: 1px solid #ff8310;
    padding: 20px;
    outline: none;
    box-shadow: none;
}
.slideBoxAnim{
    animation: slideBox 3s ease;
}
@keyframes slideBox{
    0%{
        opacity: 0;
        width: 40%;
    }
    100%{
        opacity: 1;
        width: 100%;
    }
}