html{
    scroll-behavior:inherit;
}
body{
    font-family: 'Poppins', sans-serif;
}
html, body{
    padding: 0;
    margin: 0;
}
.pagehead{
    background-image: url("../img/user-dashboard-img.jpg");
    padding: 120px;
    padding-bottom: 80px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Benne', serif;
}
#boxTrending{
    padding-top: 80px;
    padding-bottom: 60px;
    background-color: #d2cdc8;
}
#boxBlog{
    background-color: #f0e3ca;
}
#boxForm{
    padding: 70px;
    background-color: #d2cdc8;
}
#boxTable{
    padding-top: 90px;
    padding-bottom: 60px;
    background-color: #343a40;
    color: white;
}
.text-divider{
    max-width: 5.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}
hr{
    max-width: 5.25rem;
    border-width: 0.2rem;
    border-color: #f4623a;
}
.subtitle{
    margin-bottom: 25px;
}
.title{
    text-decoration: none;
    color: #161515;
}
.title:hover{
    color: #474242;
}
#btn_write{
    background-color: #f66f65;
    color: white;
    padding: 10px 24px;
    font-family: 'Poppins', sans-serif;
}
#btn_write:hover{
    background-color: #F85B4F;
}
.btn-upload{
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid #34a245;
    padding: 6px 60px;
    color: #34a245;
    margin-top: 10px;
}
.btn-upload:hover{
    background-color: #34a245;
    color: white;
}
.btn-renew{
    background-color: transparent;
    border-radius: 18px;
    border: 1px solid #7070b8;
    padding: 6px 40px;
    color: #7070b8;
    margin-top: 10px;
}
.btn-renew:hover{
    background-color: #7070b8;
    color: white;
}
label{
    font-size: 18px;
}
td, th{
    vertical-align: middle;
}
th, tr, td{
    color: white;
    text-align: center;
}
tr td{
    max-width: 50px;
}
.td-sm{
    width: 10%;
}
#customRadio1, #customRadio2, #customRadio3,
#customRadio4, #customRadio5{
    cursor: pointer;  
}
.custom-control-input{
    cursor: pointer;
}
#keeptxt{
    cursor: pointer;
}
